*{
    margin: 0;
    padding: 0;
   
}

.navbar {
    height: 150px;
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 1550px;
    position: fixed;
    top: 0%;
    border-bottom: 0.5px solid black;
    
    
}


.nav-logo{
    height: 150px;
    width: 150px;

}

.logo {
     background-image: url(https://photos.app.goo.gl/38qpC6mfd4gSuT2U9);
     background-size: cover;
     height: 150px;
     width: 100%;
     
    
}




/**  box2 **/
.nav-search {
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    height: 40px;
   border: none;
}
.search-select {
    background-color: beige;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1erm;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: beige;
    border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    color: black;
}

/**box3 **/

a{
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: bold;
}

a:hover{
    color: brown;
    background-color: beige;

}


.home-text{
    transition: all;
}
.home-text:hover{
    transform: translateY(-5px);
}


.festivals{
    transition: all;
}
.festivals:hover{
    transform: translateY(-5px);
}


.menu-text{
    transition: all;
}
.menu-text:hover{
    transform: translateY(-5px);
}


.contact-us{
    transition: all;
}
.contact-us:hover{
    transform: translateY(-5px);
}


/** box4**/
.nav-cart i {
   font-size: 25px;
}

.nav-bar{
    font-size: 0.85em;
    font-weight: 700;
}

.home{
    background-image: url(home.png);
    background-size: cover;
    height: 600px;
   margin-top: 200px;
    
}
    
.contentBox{
    background-color: white;
    justify-content: space-evenly;
    height: 700px;
    display: flex;
    align-items: flex-start;
  

}

.text-first{

    height: 600px;
    width: 600px;
    background-color: white;
    border: none;
    display: flex;
    align-items: center;
    
   font-family: "Petemoss", cursive;
   font-weight: 400;
   font-style: normal;
   font-size:25px;
    
}

.aboutus{
   background-color: beige;
   height: 100px;
   margin-top: 80px;
   background-image: url(aboutus.png);
   background-size: cover;

   

}
.image1{
    background-image: url(packing@2.jpg);
    background-size: cover;
    height: 450px;
    width: 400px;
    border: none;
    margin-top: 80px;
    margin-right: 50px;
   
}

.image1:hover{
    background-image: url(packing@1.jpg);

   
}



.image1:active{
    background-image: url(packing@5.jpg);
}

.chocolate-pannel{
    background-color: beige;
    height: 100px;
    margin-top: 20px;
    background-image: url(chocolatetext.png);
    background-size: cover;
    margin-bottom: 30px;
}

.chocolates{
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: top;
}

.oreo{
    background-image: url(oreo\ choco.jpg);
    background-size: cover;
    height: 400px;
    width: 400px;
   animation-name: oreo;
   animation-timing-function: ease-in;
   animation-delay: 0s;
    animation-duration: 10s;
}

.oreo:hover {
    background-image: url(rose\ choco.jpg);
    background-size: cover;
   
}

@keyframes oreo{
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-300px) ;
    }
}

.fruit{
    background-image: url(fruit\ choco.jpg);
    background-size: cover;
    height: 400px;
    width: 400px;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-name: fruit;
    animation-timing-function: ease-in;
    animation-delay: 0s;
     animation-duration: 10s;

}


@keyframes fruit{
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-300px) ;
    }
}

.fruit:hover {
    background-image: url(choco-balls.jpg);
    background-size: cover;
}


.dark{
    background-image: url(dark\ choco.jpg);
    background-size: cover;
    height: 400px;
    width: 400px;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-name: dark;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-duration: 10s;
}


@keyframes dark{
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-300px) ;
    }
}
.dark:hover {
    background-image: url(choco-bar.jpg);
    background-size: cover;
}
/*
.rose{
    background-image: url(rose\ choco.jpg);
    background-size: cover;
    height: 400px;
    width: 400px;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-name: dark;
    animation-timing-function: ease-in;
    animation-delay: 0s;
     animation-duration: 10s;
}


@keyframes rose{
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-300px) ;
    }
}
*/


.cake-pannel{
    background-color: beige;
    height: 100px;
    margin-top: 20px;
    background-image: url(caketext.png);
    background-size: cover;
    margin-bottom: 30px;
}

.cakes{
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: top;
}

.cake1{
    background-image: url(cake1.jpg);
    background-size: cover;
    height: 400px;
    width: 400px; 
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease-in;
   

}

.cake1:hover{
   background-image: url(cake4.jpg);
   background-size: cover;
    
}

.cake2{
    background-image: url(cake5.jpg);
    background-size: cover;
    height: 400px;
    width: 400px;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease-in;
}


.cake2:hover {
    background-image: url(cake6.jpg);
    background-size: cover;
}

.cake3{
    background-image: url(cake3.jpg);
    background-size: cover;
    height: 400px;
    width: 400px;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease-in;
}

.cake3:hover {
    background-image: url(cake7.jpg);
    background-size: cover;
}
/*
.cake4{
    background-image: url(cake4.jpg);
    background-size: cover;
    height: 400px;
    width: 400px
}    */

.menu{
    background-image: url(menu.png);
    background-size: cover;
    height: 600px;
    border: none;
    margin-right: 15px;
    margin-bottom: 30px;
}

.ourpromise-text{
    background-color: beige;
    height: 100px;
    margin-top: 20px;
    background-image: url(ourpromise-text.png);
    background-size: cover;
   margin-top: 50px;
}
.our-promise{
    height: 250px;
    background-color: blue;
    background-image: url(ourpromise.png);
    background-size: cover;
   margin-bottom: 50px;
}

footer{    
}
.foot-1{
    display: flex;
    height: 300px;
    justify-content: space-evenly;
    margin-top: 40px;     
}

.logo-foot{
    background-image: url(logo.jpg);
    background-size: cover;
    height: 250px;
    width: 250px;
    margin-right: 40px;
}
ul a{
    display: block;
    font-size: 1rem;
    margin-top: 10px;
}
ul{
    margin-top: 30px;
}